{% load static %}

<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>LITReview</title>
  <link rel="stylesheet" href="{% static 'authentification/styles.css' %}">
</head>
<body>

<header class="site-header">
  <div class="container header-inner">
    <h2 class="brand-title">LITReview</h2>
    <nav class="nav nav-links">
      <a href="{% url 'feed' %}">Flux</a> |
      <a href="{% url 'posts' %}">Posts</a> |
      <a href="{% url 'subscriptions' %}">Abonnements</a> |
      <a href="{% url 'logout' %}">Se déconnecter</a> |
    </nav>
  </div>
</header>

<main class="container page-content">
  {% block content %}{% endblock %}
</main>




</body>
</html>
